  <div class="wp-block-group is-vertical is-layout-flex wp-container-core-group-is-layout-2 wp-block-group-is-layout-flex bg-green pstz">
    <div class="wp-block-group is-vertical is-layout-flex wp-container-core-group-is-layout-2 wp-block-group-is-layout-flex">
    <div><h1 class='ff-drafting'><span>GREEN OIL</span></h1><p>Aziende e regali corporate</p></div>
    <fieldset itemscope='special' class='fg-pic fg-black'><h2 class=''>SPECIAL</h2>
    <p>His work continues to inspire new generations, ensuring that his legacy endures as a pillar of Iranian broadcast history and cultural discourse.</p><div itemprop="button" class='bg-green'>GREEN</div>
    </fieldset>
  </div></div><!-- wp-block-group -->