  <div class="wp-block-group is-vertical is-layout-flex wp-container-core-group-is-layout-2 wp-block-group-is-layout-flex border-top"><div class="wp-block-group is-vertical is-layout-flex wp-container-core-group-is-layout-2 wp-block-group-is-layout-flex">
    <div><h1 class='ff-eames'>OLIO <span class='fg-green'>BIO</span></h1>
    <p>La tenuta: <b>Flaticon</b></p>
    <h1>{% assign png = site.static_files | where_exp: "item", "item.path contains 'images/png/'" %}{% for p in png %}<img class='png-icon' src='{{ p.path }}' alt='{{ p.name }}'/>{% endfor %}</h1>
    <figure class="wp-block-image"><img src="{{ 'assets/images/ice-cream.jpg' | absolute_url }}" alt="" class="wp-image-67"></figure>
    <figure class="wp-block-image"><img src="{{ 'assets/images/ice-cream.jpg' | absolute_url }}" alt="" class="wp-image-66"></figure>
    </div>
  </div></div><!-- wp-block-group -->