.invisible
  visibility: hidden
.hidden
  display: none
.vh
  visibility: hidden
.flex
  display: flex
.sb
  justify-content: space-between
.fe
  justify-content: flex-end
.dib
  display: inline-block
// POSITION STICKY TOP ZERO
.pstz
  position: sticky
  top: 0
  z-index: -1
  & + div:not(.pstz)
    @extend .sfondo
.mpz
  padding: 0
  margin: 0
.phf
  padding: .5em 1em
.pbz
  padding-block: 0 !important

.no-appearance
  appearance: none
  -webkit-appearance: none

.border
  border: $bw solid $fg
.no-border
  border: none
.border-top
  border-top: 1px solid var(--black)
.border-radius
  border-radius: $br
.border-radius-big
  border-radius: $brb

// FONTS
.right
  text-align: right
.center
  text-align: center
.bold
  font-weight: bold
.italic
  font-style: italic
.uppercase
  text-transform: uppercase
.ff-arial
  font-family: Arial, sans-serif
.ff-serif
  font-family: serif
.ff-system-ui
  font-family: system-ui
.ff-monospace
  font-family: monospace
.ff-drafting
  font-family: 'Drafting' !important
.ff-book
  font-family: 'Book' !important
.ff-demi
  font-family: 'Demi' !important
.ff-eames
  font-family: 'Eames' !important
.ff-reboard
  font-family: 'REBOARD' !important
.ff-leafy
  font-family: 'Leafy' !important
.ff-united-serif
  font-family: 'United Serif' !important
.ff-united-sans
  font-family: 'United Sans' !important
.ff-united-condensed
  font-family: 'United Condensed' !important
.ff-dm-sans
  font-family: 'DM Sans' !important
.fs-medium
  font-size: medium
.fs-smaller
  font-size: small
.fs-85
  font-size: 85%
.fs-h1
  font-size: 2em
.fs-h3
  font-size: 1.17em

.pointer
  cursor: pointer