// NEUTRAFACE
// ----------
@font-face
  font-family: 'Drafting'
  src: url("fonts/NeutraDisp-Drafting.otf") format("opentype")
  font-weight: normal
  font-style: normal
@font-face
  font-family: 'Book'
  src: url("fonts/NeutrafaceSlabText-Book.otf") format("opentype")
  font-weight: normal
  font-style: normal
@font-face
  font-family: 'Book'
  src: url("fonts/NeutrafaceSlabText-BookItalic.otf") format("opentype")
  font-weight: normal
  font-style: italic
@font-face
  font-family: 'Demi'
  src: url("fonts/NeutrafaceSlabText-Demi.otf") format("opentype")
  font-weight: normal
  font-style: normal
@font-face
  font-family: 'Demi'
  src: url("fonts/NeutrafaceSlabText-DemiItalic.otf") format("opentype")
  font-weight: normal
  font-style: italic
// EAMES
// ----------
@font-face
  font-family: 'Eames'
  src: url("fonts/EamesCenturyModern-Black.otf") format("opentype")
  font-weight: normal
  font-style: normal
// REBOARD
// ----------
@font-face
  font-family: 'Reboard'
  src: url('fonts/REBOARD.ttf') format('truetype')
  font-weight: normal
  font-style: normal
// LEAFY PLANT SANS
// ----------------
@font-face
  font-family: 'Leafy'
  src: url('fonts/LeafyPlantSansFree.ttf') format('truetype')
  font-weight: normal
  font-style: normal

// UNITED SANS
// ----------------
@font-face
  font-family: 'United Sans'
  src: url('fonts/UnitedSansReg-Medium.otf') format('opentype')
  font-weight: normal
  font-style: normal
@font-face
  font-family: 'United Sans'
  src: url('fonts/UnitedItalicReg-Heavy.otf') format('opentype')
  font-weight: bold
  font-style: italic
@font-face
  font-family: 'United Sans'
  src: url('fonts/UnitedSansReg-Bold.otf') format('opentype')
  font-weight: bold
  font-style: normal
@font-face
  font-family: 'United Condensed'
  src: url('fonts/UnitedSansSemiCond-Bold.otf') format('opentype')
  font-weight: normal
  font-style: normal

// UNITED SERIF
@font-face
  font-family: 'United Serif'
  src: url('fonts/UnitedSerifReg-Medium.otf') format('opentype')
  font-weight: normal
  font-style: normal
@font-face
  font-family: 'United Serif'
  src: url('fonts/UnitedSerifReg-Heavy.otf') format('opentype')
  font-weight: bold
  font-style: normal
@font-face
  font-family: 'United Condensed'
  src: url('fonts/UnitedSerifCond-Bold.otf') format('opentype')
  font-weight: normal
  font-style: normal

// DM SANS
@font-face
  font-family: 'DM Sans'
  font-style: normal
  font-weight: 400
  src: local('DM Sans'), url('dm-sans/DMSans-Regular.woff') format('woff')

@font-face
  font-family: 'DM Sans'
  font-style: italic
  font-weight: 400
  src: local('DM Sans'), url('dm-sans/DMSans-Italic.woff') format('woff')

@font-face
  font-family: 'DM Sans'
  font-style: normal
  font-weight: 500
  src: local('DM Sans'), url('dm-sans/DMSans-Medium.woff') format('woff')

@font-face
  font-family: 'DM Sans'
  font-style: italic
  font-weight: 500
  src: local('DM Sans'), url('dm-sans/DMSans-MediumItalic.woff') format('woff')

@font-face
  font-family: 'DM Sans'
  font-style: normal
  font-weight: 700
  src: local('DM Sans'), url('dm-sans/DMSans-Bold.woff') format('woff')

@font-face
  font-family: 'DM Sans'
  font-style: italic
  font-weight: 700
  src: local('DM Sans'), url('dm-sans/DMSans-BoldItalic.woff') format('woff')
