#footer
  background-image: url('../images/triga.png'), url('../images/trattore-matto.png')
  background-repeat: repeat-x, no-repeat
  background-position: top, bottom right
  background-size: 100% 30px, 7em
  padding-top: 2em
  padding-bottom: 2em
  font-size: large
  animation: sentiero 500s linear infinite
  & > .wp-block-group
    @extend .ff-drafting, .bold, .fg-red, .flex
    justify-content: space-between

@keyframes sentiero
  from
    background-position-x: right
  to
    background-position-x: left