$cream: #ecd7be
$black: #221f21
$white: hsl(0, 0%, 97%)
$bg: $cream
$fg: $black
$green: #4a5731
$red: #a01948
$blu: #066e7f

$colors: ('black': black, 'cream': $cream, 'green': $green, 'red': $red, 'blu': $blu, 'white': $white)

// FONT
$fs: 21px

// Border-width
$bw: 2px
// Border-radius
$br: 5px
// Border-radius-big
$brb: 15px